<!DOCTYPE html>
<html>

<head>
    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <!-- we import arjs version without NFT but with marker + location based support -->
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <script src="https://unpkg.com/aframe-state-component@6.7.0/dist/aframe-state-component.min.js"></script>
    <script src="/javascript/aframe-state.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css" />

</head>

<body style='margin : 0px; overflow: hidden;'>
    <!-- we add detectionMode and matrixCodeType to tell AR.js to recognize barcode markers -->
    <div class="buttons">
        <!-- <button class="say-hi-button" onclick="sayHi()">SAY HI!</button> -->
        <div id="opCarousel" class="carousel slide say-hi-button" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p>
                        Thai Chicken Curry with Vermont Sauce
                    </p>
                </div>
                <div class="carousel-item">
                    <p>
                        Thai Chick with Big Tits
                    </p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>



    <a-scene embedded vr-mode-ui="enabled: false" arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;">

        <a-assets>
            <a-asset-item id="animated-asset-2" src="https://192.168.11.208:5678/obj/wtf.gltf"></a-asset-item>
            <a-asset-item id="animated-asset-3" src="https://192.168.11.208:5678/obj/asset.gltf"></a-asset-item>
            <a-asset-item id="animated-asset-4" src="https://192.168.11.208:5678/obj/asset2.gltf"></a-asset-item>
            <a-asset-item id="thai" src="https://192.168.11.208:5678/obj/thai.gltf"></a-asset-item>
        </a-assets>

        <a-marker type='barcode' value='31'>
            <a-box position='0 0.5 0' color="yellow"></a-box>
        </a-marker>

        <a-marker id="animated-marker" type='barcode' value='30'>
            <a-entity id="aEntity" bind__gltf-model="modelId" scale="0.3 0.3 0.3">
            </a-entity>
        </a-marker>

        <a-entity camera></a-entity>
    </a-scene>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/javascript/index.js"></script>

</body>

</html>