 .buttons {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
 }
 
 .carousel-cell {
     background-color: white;
     height: 170px;
     width: 60%;
     margin: 10px 10px;
     border-radius: 10px;
     font-size: medium;
     background-position: center center;
     background-size: cover;
     transition: opacity 0.4s;
 }
 
 .main-carousel {
     height: 30%;
     width: 100%;
 }
 
 .say-hi-button {
     padding: 0.25em;
     border-radius: 4px;
     background-color: white;
     border: none;
     width: 70%;
     height: 30%;
 }