.html-ui {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.carousel-cell {
    background-color: white;
    height: 180px;
    width: 60%;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: medium;
    background-position: center center;
    background-size: cover;
    transition: opacity 0.4s;
}

.carousel-cell .bg-overlay {
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5355275899422269) 79%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5355275899422269) 79%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5355275899422269) 79%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1);
    /*  */
}

.carousel-cell .bg-overlay .text-wrapper {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: white;
    margin: 10px;
    margin-bottom: 0px;
}

.main-carousel {
    height: 30%;
    width: 100%;
}

.say-hi-button {
    padding: 0.25em;
    border-radius: 4px;
    background-color: white;
    border: none;
    width: 70%;
    height: 30%;
}